<div style="width: 300px;">
    <span>
        <h1 style="text-align:left;margin-left:35px;">Beer</h1>
        <h2 style="text-align: right;margin-top:0;margin-right:35px;">Styles</h2>
    </span>
</div>


<!--styles to loop through -->
<div class="styleItem">

    <div class="entry">
       <img class="stylePic" src="./images/american-lager.png">
            <h3>American Lagers</h3>
        <div>
            <p>American lager is light in flavor, color, and alcohol content, and is often produced in large quantities.</p>
        </div>
    </div>
    <div class="entry">
        <img class="stylePic" src="./images/brown-ale.png">
            <h3>Brown Ales</h3>
        <div>
            <p>Brown ale is a dark beer without the bitterness of porters and stouts. This style boasts a dark caramel color and a medium to full-bodied profile.</p>
        </div>
    </div>
    <div class="entry">
        <img class="stylePic" src="./images/amber-lager.png">
            <h3>Amber Lagers</h3>
        <div>
            <p>Amber lager features prevalent malt flavors
                with varying levels of hoppiness. This
                beer is also characterized by a darker color,
                caramel aroma, and smooth taste</p>
        </div>
    </div>
</div>
<div class="styleItem">

    <div class="entry">
        <img class="stylePic" src="./images/american-lager.png">
        <h3>IPA - India Pale Ales</h3>
        <div>
            <p>Amber lager features prevalent malt flavors
                with varying levels of hoppiness. This
                beer is also characterized by a darker color,
                caramel aroma, and smooth taste</p>
        </div>
    </div>

    <div class="entry">
        <img class="stylePic" src="./images/belgian-pale-ale.png">
        <h3>Belgian Pale Ales</h3>
        <div>
            <p>Belgian pale ale contains a toasted malt flavor that is subtle enough to not overpower the taste of the hops.</p>
        </div>
    </div>
    <div class="entry">
        <img class="stylePic" src="./images/american-lager.png">
        <h3>Stouts</h3>
        <div>
            <p>Stouts feature malt flavors working to create strong chocolate and coffee notes, but without overpowering hop bitterness.</p>
        </div>
    </div>
</div>
<div class="source"><a href="https://www.webstaurantstore.com/article/27/different-types-of-beers.html"
        target="blank">Source: https://www.webstaurantstore.com/article/27/different-types-of-beers.html</a>
</div>