<div style="width: 300px;">
    <span>
        <h1 style="text-align:left;margin-left:35px;">Beer</h1>
        <h2 style="text-align: right;margin-top:0;margin-right:35px;">Styles</h2>
    </span>
</div>


<!--styles to loop through -->
<div class="styleItem">

    <div class="entry">
        <a href="#"><img class="stylePic" src="./images/american-lager.png"></a>
        <a href="liquidroots.html">
            <h3>American Lager</h3>
        </a>
        <div>
            <p>Amber lager features prevalent malt flavors
                with varying levels of hoppiness. This
                beer is also characterized by a darker color,
                caramel aroma, and smooth taste</p>
            <a class="source" href="#">MORE INFO</a>
        </div>
    </div>
    <div class="entry">
        <a href="#"><img class="stylePic" src="./images/american-lager.png"></a>
        <a href="liquidroots.html">
            <h3>American Lager</h3>
        </a>
        <div>
            <p>Amber lager features prevalent malt flavors
                with varying levels of hoppiness. This
                beer is also characterized by a darker color,
                caramel aroma, and smooth taste</p>
            <a class="source" href="#">MORE INFO</a>
        </div>
    </div>
    <div class="entry">
        <a href="#"><img class="stylePic" src="./images/american-lager.png"></a>
        <a href="liquidroots.html">
            <h3>American Lager</h3>
        </a>
        <div>
            <p>Amber lager features prevalent malt flavors
                with varying levels of hoppiness. This
                beer is also characterized by a darker color,
                caramel aroma, and smooth taste</p>
            <a class="source" href="#">MORE INFO</a>
        </div>
    </div>
</div>

<div class="styleItem">

    <div class="entry">
        <a href="#"><img class="stylePic" src="./images/american-lager.png"></a>
        <h3>American Lager</h3>
        </a>
        <div>
            <p>Amber lager features prevalent malt flavors
                with varying levels of hoppiness. This
                beer is also characterized by a darker color,
                caramel aroma, and smooth taste</p>
            <a class="source" href="#">MORE INFO</a>
        </div>
    </div>
    <div class="entry">
        <a href="#"><img class="stylePic" src="./images/american-lager.png"></a>
        <a href="liquidroots.html">
            <h3>American Lager</h3>
        </a>
        <div>
            <p>Amber lager features prevalent malt flavors
                with varying levels of hoppiness. This
                beer is also characterized by a darker color,
                caramel aroma, and smooth taste</p>
            <a class="source" href="#">MORE INFO</a>
        </div>
    </div>

    <div class="entry">
        <a href="#"><img class="stylePic" src="./images/american-lager.png"></a>
        <a href="liquidroots.html">
            <h3>American Lager</h3>
        </a>
        <div>
            <p>Amber lager features prevalent malt flavors
                with varying levels of hoppiness. This
                beer is also characterized by a darker color,
                caramel aroma, and smooth taste</p>
            <a class="source" href="#">MORE INFO</a>
        </div>
    </div>
</div>
<div class="source"><a href="https://www.webstaurantstore.com/article/27/different-types-of-beers.html"
        target="blank">Source: https://www.webstaurantstore.com/article/27/different-types-of-beers.html</a>
</div>