<!-- header information -->
<div style="width: 300px;">
    <span>
        <h1 style="text-align:left">Featured</h1>
        <h2 style="text-align: right;margin-top:0;">Breweries</h2>
    </span>
</div>


<!--brewery to loop through -->
<div class="breweryWrapper">
    <div class="breweryItem">
        <a href="liquidroots.html"><img src="./images/liquid-roots.png"></a>
        <div class="entry">
            <a href="liquidroots.html">
                <h3>Liquid Roots Brewing Project</h3>
            </a>
            <p>123 S. Main Street</p>
            <p>Indianapolis, IN 46240</p>
            <p>828-572-1106</p>
            <p><a id="source" href="https://www.liquidrootsbrewing.com/"
                    target="blank">liquidrootsbrewing.com</a></p>
        </div>
        <div class="entry">
            <ul class="hours">
                <li style="text-decoration:underline;">Hours</p>
                <li>M 3pm - 7pm</li>
                <li>T 3pm - 7pm</li>
                <li>W 3pm - 7pm</li>
                <li>Th 3pm - 7pm</li>
                <li>F 3pm - 7pm</li>
                <li>Sat 3pm - 7pm</li>
                <li>Sun 3pm - 7pm</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="breweryWrapper">
    <div class="breweryItem">
        <a href="profile.html"><img src="./images/liquid-roots.png"></a>
        <div class="entry">
            <a href="profile.html">
                <h3>Liquid Roots Brewing Project</h3>
            </a>
            <p>123 S. Main Street</p>
            <p>Indianapolis, IN 46240</p>
            <p>828-572-1106</p>
            <p><a id="source" href="https://www.liquidrootsbrewing.com/"
                    target="blank">liquidrootsbrewing.com</a></p>
        </div>
        <div class="entry">
            <ul class="hours">
                <li style="text-decoration:underline;">Hours</p>
                <li>M 3pm - 7pm</li>
                <li>T 3pm - 7pm</li>
                <li>W 3pm - 7pm</li>
                <li>Th 3pm - 7pm</li>
                <li>F 3pm - 7pm</li>
                <li>Sat 3pm - 7pm</li>
                <li>Sun 3pm - 7pm</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="breweryWrapper">
    <div class="breweryItem">
        <a href="liquidroots.html"><img src="./images/liquid-roots.png"></a>
        <div class="entry">
            <a href="liquidroots.html">
                <h3>Liquid Roots Brewing Project</h3>
            </a>
            <p>123 S. Main Street</p>
            <p>Indianapolis, IN 46240</p>
            <p>828-572-1106</p>
            <p><a id="source" href="https://www.liquidrootsbrewing.com/"
                    target="blank">liquidrootsbrewing.com</a></p>
        </div>
        <div class="entry">
            <ul class="hours">
                <li style="text-decoration:underline;">Hours</p>
                <li>M 3pm - 7pm</li>
                <li>T 3pm - 7pm</li>
                <li>W 3pm - 7pm</li>
                <li>Th 3pm - 7pm</li>
                <li>F 3pm - 7pm</li>
                <li>Sat 3pm - 7pm</li>
                <li>Sun 3pm - 7pm</li>
            </ul>
        </div>
    </div>
</div>
<hr>