.content-bg .container {
  background-color: white;
  width: 100%;
  min-height: 5rem;
  margin: 0 auto;
  --color-primary: #565655;
  --color-secondary: #fbb03b;
  --color-error: #ff0400;
  --color-success: #63df58;
  --border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px; }

.containerSm {
  background-color: white;
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius); }

.containerSm,
.form__input,
.form__button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Radley', serif; }

.form--hidden {
  display: none; }

.form .form__input-group {
  font-family: 'Oswald', sans-serif;
  color: var(--color-primary); }

.form h4 {
  padding-top: 20px; }

.form__input-group {
  margin-bottom: 1rem; }

.form__input {
  display: block;
  width: 100%;
  padding: .55rem;
  border-radius: var(--border-radius);
  border: 1px solid gray;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color .02s; }

.form__input:focus {
  border-color: var(--color-secondary);
  background: white; }

.form__message {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 15px; }

.form__message--success {
  color: var(--color-success); }

.form__message--error {
  color: var(--color-error); }

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error); }

.form__button {
  color: var(--color-primary);
  width: 100px;
  height: 25px;
  cursor: pointer; }

.form__button:hover {
  background-color: var(--color-secondary); }

.form__button:active {
  transition: scale(0.98);
  font-weight: bold; }

.form__links {
  color: var(--color-primary);
  text-decoration: none; }

.form__links:hover {
  text-decoration: underline; }

.styleItem {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 100%;
  margin: 0 auto; }

.styleItem .stylePic {
  width: 300px; }

.vert hr {
  stroke: 1 solid red; }

@media screen and (max-width: 525px) {
  .styleItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto; }
  .styleItem .stylePic {
    width: 250px; }
  .source {
    font-size: 13px; } }

@media screen and (max-width: 700px) {
  .content-bg {
    display: flex;
    flex-direction: column;
    z-index: -1;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
    .content-bg h1 {
      padding-top: 66px; }
    .content-bg h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #565655; }
  .entry a {
    font-family: 'Radley', serif;
    line-height: 39px;
    text-align: left;
    text-decoration: none; }
  .entry h3 {
    font-size: 28px; }
  .entry p {
    text-align: left;
    font-size: 15px;
    margin-top: 12px; }
  .source {
    font-size: 13px; } }

@media screen and (max-width: 925px) {
  .content-bg {
    display: flex;
    flex-direction: column;
    z-index: -1;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
    .content-bg h1 {
      padding-top: 66px; }
    .content-bg h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #565655; }
  .styleItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto; } }

.breweryWrapper {
  width: 100%; }

.breweryItem {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 100%;
  margin: 0 auto; }

.breweryItem img {
  width: 405px;
  margin-bottom: 20px; }

.entry {
  padding: 25px; }
  .entry a {
    font-family: 'Radley', serif;
    line-height: 39px;
    text-align: left;
    text-decoration: none; }

.entry h3 {
  font-size: 28px; }

.entry p {
  text-align: left;
  font-size: 15px;
  margin-top: 12px; }

#info a {
  padding-top: 20px;
  text-align: left;
  width: 150px;
  height: 20px;
  background-color: white; }

.breweryItem .stylePic {
  width: 400px; }

hr {
  width: 90%;
  border-top: 1 solid gray; }

@media screen and (max-width: 525px) {
  .content-bg {
    display: flex;
    flex-direction: column;
    z-index: -1;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
    .content-bg h1 {
      padding-top: 66px;
      font-size: 42px; }
    .content-bg h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #565655; }
  .breweryItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto; }
    .breweryItem img {
      width: 300px; }
  .entry a {
    font-family: 'Radley', serif;
    line-height: 39px;
    text-align: left;
    text-decoration: none; }
  .entry h3 {
    font-size: 28px; }
  .entry p {
    text-align: left;
    font-size: 15px;
    margin-top: 12px; }
  .source {
    font-size: 13px; } }

@media screen and (max-width: 900px) {
  .content-bg {
    display: flex;
    flex-direction: column;
    z-index: -1;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
    .content-bg h1 {
      padding-top: 66px; }
    .content-bg h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #565655; }
  .breweryItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto; }
  .entry a {
    font-family: 'Radley', serif;
    line-height: 39px;
    text-align: left;
    text-decoration: none; }
  .entry h3 {
    font-size: 28px; }
  .entry p {
    text-align: left;
    font-size: 15px;
    margin-top: 12px; }
  .source {
    font-size: 13px; } }

.headerContent-bg {
  width: 80%;
  min-height: 200px;
  margin: 0 auto;
  background-color: white;
  margin-top: 0px;
  padding-top: 50px; }

.header {
  height: 200px; }

.header h3 {
  font-size: 30px;
  text-align: center;
  color: #565655; }

.profileContent-bg {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  margin-top: 0px; }

.profileWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center; }

.profileItem img {
  width: 400px;
  margin-top: 75px;
  align-content: flex-start; }

.profile {
  width: 100%;
  line-height: .45rem; }
  .profile a {
    font-family: 'Radley', serif;
    line-height: 39px;
    text-align: left;
    text-decoration: none; }

.profile h3 {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 28px;
  text-align: center; }

.profile .profileItem p {
  text-align: center;
  font-size: 15px;
  font-family: 'Radley', serif;
  color: #565655; }

li, a {
  text-align: center;
  list-style: none;
  margin-top: 15px;
  font-family: 'Radley', serif;
  color: #565655;
  margin-bottom: 10px; }

.columnLayout {
  padding: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between; }

.column {
  width: 100%;
  margin: 0 auto;
  min-height: 200px; }

.column h1 {
  font-size: 40px;
  text-align: left;
  opacity: 60%; }

.column h3 {
  font-size: 22px; }

.column p {
  font-family: 'Radley', serif;
  font-size: 15px;
  margin-top: 10px;
  text-align: left;
  color: #565655; }

.side-by-side li {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 15px; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, a {
  margin-top: 12px; }

body {
  background-color: #565655;
  background-image: url("../images/background-image.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; }

.logo {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 25px; }
  .logo a:hover {
    margin-bottom: 25px; }

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 55px;
  text-align: center;
  font-style: 700;
  text-transform: uppercase;
  color: #565655; }

.subtext {
  width: 400px;
  margin: 0 auto; }

.subtext h1 {
  font-size: 22px; }

.subtext p {
  margin-top: 12px; }

h2 {
  font-family: 'Sarina', cursive;
  font-size: 36px;
  text-align: center;
  color: #565655; }

h3 {
  font-family: 'Radley', serif;
  font-size: 18px;
  text-align: left;
  color: #565655; }

p {
  font-family: 'Radley', serif;
  font-size: 15px;
  text-align: center;
  color: #565655; }

p .small {
  font-size: 9.2px; }

nav {
  margin-top: 110px;
  width: 100%;
  height: 65px;
  background-color: #556655;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  nav a {
    align-items: center;
    font-family: 'Radley', serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 39px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: #fbb03b; }
  nav a:hover {
    background-color: none;
    margin-bottom: 16px;
    margin-bottom: 16px; }

.content-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white; }
  .content-bg h1 {
    padding-top: 66px; }
  .content-bg h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #565655; }

.homepageImage img {
  width: 600px;
  margin: 0 auto;
  padding: 35px;
  padding-bottom: 35px; }

.source {
  display: block;
  height: 50px;
  color: #565655; }
  .source a {
    text-align: left;
    text-decoration: none;
    color: gray; }
  .source .horz hr {
    width: 90%;
    border-top: 1 solid gray; }

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  .homepageImage img {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 55px; } }

/* On screens that are 700px or less */
@media screen and (max-width: 700px) {
  body {
    background-image: url("../images/background-image.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat; }
  nav {
    margin-top: 0px;
    height: 300px;
    background-color: #556655;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    nav img {
      display: block;
      display: none; }
    nav a:hover {
      width: 60%;
      margin-left: 155px; }
  h1 {
    padding-top: 0px; }
  .content-bg {
    z-index: -1;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
  .homepageImage img {
    width: 475px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 55px; } }
