.journalWrapper {
  width: 100%; }

.customize-journal {
  width: 325px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.customize-journal h1 {
  font-size: 30px;
  margin-top: 0;
  opacity: 50%; }

.journalItem {
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 100%;
  margin: 0 auto; }

.journal-image .journalPic {
  width: 40px;
  margin: 0 auto;
  padding: 0px; }

.journal-entry {
  padding-right: 45px; }
  .journal-entry a {
    font-family: 'Radley', serif;
    text-decoration: none;
    line-height: 25px; }
  .journal-entry h3 {
    font-size: 25px; }
  .journal-entry h1 {
    color: gray;
    font-size: 25px;
    line-height: 20px;
    text-align: right; }

.journal-entry p {
  text-align: left;
  line-height: 15px;
  font-size: 25px;
  margin-top: 12px;
  font-size: 20px;
  opacity: 60%; }

.descItal {
  font-style: italic;
  color: #d64a06;
  font-weight: bold; }

.journal-entry .journalPic {
  width: 300px; }

hr {
  width: 95%;
  border-top: 1 solid gray; }

.journal-entry li {
  text-align: left;
  font-size: 15px;
  line-height: 7px; }

.customize-journal h1 {
  font-size: 18px;
  margin-top: 0;
  opacity: 50%; }

.content-bg .container {
  background-color: white;
  width: 100%;
  min-height: 5rem;
  margin: 0 auto;
  --color-primary: #565655;
  --color-secondary: #fbb03b;
  --color-error: #ff0400;
  --color-success: #63df58;
  --border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px; }

.containerSm {
  background-color: white;
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius); }

.containerSm,
.form__input,
.form__button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Radley', serif; }

.form--hidden {
  display: none; }

.form .form__input-group {
  font-family: 'Oswald', sans-serif;
  color: var(--color-primary); }

.form h4 {
  padding-top: 20px; }

.form__input-group {
  margin-bottom: 1rem; }

.form__input {
  display: block;
  width: 100%;
  padding: .55rem;
  border-radius: var(--border-radius);
  border: 1px solid gray;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color .02s; }

.form__input:focus {
  border-color: var(--color-secondary);
  background: white; }

.form__message {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 15px; }

.form__message--success {
  color: var(--color-success); }

.form__message--error {
  color: var(--color-error); }

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error); }

.form__button {
  color: var(--color-primary);
  width: 100px;
  height: 25px;
  cursor: pointer; }

.form__button:hover {
  background-color: var(--color-secondary); }

.form__button:active {
  transition: scale(0.98);
  font-weight: bold; }

.form__links {
  color: var(--color-primary);
  text-decoration: none; }

.form__links:hover {
  text-decoration: underline; }

.glassItem {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 100%;
  margin: 0 auto; }

.glassItem .glassPic {
  width: 250px; }

@media screen and (max-width: 525px) {
  .glassItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto; }
  .glassItem .glassPic {
    width: 250px; }
  .source {
    font-size: 13px; } }

@media screen and (max-width: 990px) {
  .content-bg {
    display: flex;
    flex-direction: column;
    z-index: -1;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
    .content-bg h1 {
      padding-top: 66px; }
    .content-bg h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #565655; }
    .content-bg .styleItem img {
      width: 276px; } }

@media screen and (max-width: 990px) and (max-width: 700px) {
  .content-bg {
    display: flex;
    flex-direction: column;
    z-index: -1;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
    .content-bg h1 {
      padding-top: 66px; }
    .content-bg h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #565655; }
  .entry a {
    font-family: 'Radley', serif;
    line-height: 39px;
    text-align: left;
    text-decoration: none; }
  .entry h3 {
    font-size: 28px; }
  .entry p {
    text-align: left;
    font-size: 15px;
    margin-top: 12px; }
  .source {
    font-size: 13px; } }

@media screen and (max-width: 990px) {
  .glassItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto; } }

.styleItem {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  margin: 0 auto; }

.styleItem .stylePic {
  width: 220px; }

@media screen and (max-width: 525px) {
  .styleItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto; }
  .styleItem .stylePic {
    width: 250px; }
  .source {
    font-size: 13px; } }

@media screen and (max-width: 700px) {
  .content-bg {
    display: flex;
    flex-direction: column;
    z-index: -1;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
    .content-bg h1 {
      padding-top: 66px; }
    .content-bg h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #565655; }
  .entry a {
    font-family: 'Radley', serif;
    line-height: 39px;
    text-align: left;
    text-decoration: none; }
  .entry h3 {
    font-size: 28px; }
  .entry p {
    text-align: left;
    font-size: 15px;
    margin-top: 12px; }
  .source {
    width: 90%;
    font-size: 13px;
    text-align: center; } }

@media screen and (max-width: 925px) {
  .content-bg {
    display: flex;
    flex-direction: column;
    z-index: -1;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
    .content-bg h1 {
      padding-top: 66px; }
    .content-bg h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #565655; }
  .styleItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto; } }

.breweryWrapper {
  width: 100%; }
  .breweryWrapper hr {
    width: 95%;
    border-top: 1 solid gray; }

.breweryItem {
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  min-width: 100%;
  margin: 0 auto; }

.breweryItem img {
  width: 405px;
  margin-bottom: 20px; }

.entry {
  width: 90%;
  margin: 0 auto;
  padding: 15px; }
  .entry a {
    font-family: 'Radley', serif;
    line-height: 39px;
    text-align: left;
    text-decoration: none; }

.entry h3 {
  font-size: 28px; }

.entry p {
  text-align: left;
  font-size: 15px;
  margin-top: 12px; }

.breweryItem .stylePic {
  width: 400px; }

hr {
  width: 95%;
  border-top: 1 solid gray; }

.entry .hours {
  width: 200px; }

.entry .hours li {
  text-align: left;
  font-size: 15px;
  line-height: 7px;
  width: 200px; }

#source {
  font-size: 21px; }

@media screen and (max-width: 525px) {
  .content-bg {
    display: flex;
    flex-direction: column;
    z-index: -1;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
    .content-bg h1 {
      padding-top: 66px;
      font-size: 42px; }
    .content-bg h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #565655; }
  .breweryItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto; }
    .breweryItem img {
      width: 300px; }
  .entry {
    padding-top: 10px; }
    .entry a {
      font-family: 'Radley', serif;
      line-height: 39px;
      text-align: left;
      text-decoration: none; }
  .entry h3 {
    font-size: 28px; }
  .entry p {
    text-align: left;
    font-size: 15px;
    margin-top: 12px; }
  #source {
    font-size: 18px; } }

@media screen and (max-width: 900px) {
  .content-bg {
    display: flex;
    flex-direction: column;
    z-index: -1;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
    .content-bg h1 {
      padding-top: 66px; }
    .content-bg h4 {
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #565655; }
  .breweryItem {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto; }
  .entry {
    padding-bottom: 10px; }
    .entry a {
      font-family: 'Radley', serif;
      line-height: 39px;
      text-align: left;
      text-decoration: none; }
  .entry h3 {
    font-size: 28px; }
  .entry p {
    text-align: left;
    font-size: 15px;
    margin-top: 12px; }
  .source {
    font-size: 13px; } }

.headerContent-bg {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  margin-top: 0px; }

.header h3 {
  font-size: 30px;
  text-align: center;
  color: #565655; }

.header h1 {
  padding-top: 0;
  opacity: 60%; }

.profileContent-bg {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.header img {
  width: 500px;
  margin-top: 45px;
  margin: 0 auto;
  align-content: space-around; }

li, a {
  text-align: center;
  list-style: none;
  margin-top: 15px;
  font-family: 'Radley', serif;
  color: #565655;
  margin-bottom: 10px; }

.columnLayout {
  padding: 70px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-items: center; }

.column {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 10px; }

.column h1 {
  font-size: 40px;
  text-align: center;
  opacity: 60%; }

.column h3 {
  font-size: 22px; }

.column p {
  font-family: 'Radley', serif;
  font-size: 15px;
  text-align: left;
  color: #565655; }

.beerItem {
  padding-top: 20px;
  padding-bottom: 20px; }

.beerItem img {
  width: 380px; }

.journal-add {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  opacity: .75; }

.side-by-side li {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 30px; }

.myButton {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ffec64;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #565656;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 11px 50px;
  text-decoration: none;
  text-align: center; }

.myButton:hover {
  background-color: #565656;
  color: #ffab23; }

.myButton:active {
  position: relative;
  top: 2px; }

@media screen and (max-width: 994px) {
  .header h3 {
    font-size: 30px;
    text-align: center;
    color: #565655; }
  .header h1 {
    padding-top: 0;
    opacity: 60%; }
  .header img {
    width: 480px;
    align-content: space-around; }
  .columnLayout {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around; }
  .column {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .beerItem img {
    width: 480px;
    padding-top: 20px;
    padding-bottom: 20px; } }

@media screen and (max-width: 675px) {
  .header h3 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #565655; }
  .header h1 {
    padding-top: 0;
    opacity: 60%;
    font-size: 37px; }
  .header h4 {
    padding-left: 20px;
    padding-right: 20px; }
  .header img {
    margin: 0 auto;
    width: 310px; }
  .beerItem img {
    width: 280px;
    padding-top: 20px;
    padding-bottom: 20px; } }

@media screen and (max-width: 400px) {
  .beerItem img {
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .header h1 {
    padding-top: 0;
    opacity: 60%;
    font-size: 25px; }
  .header img {
    width: 270px; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, a {
  margin-top: 12px; }

body {
  background-color: #565655;
  background-image: url("../images/background-image.png");
  background-size: cover;
  background-repeat: no-repeat; }

.auth {
  width: 100%;
  height: 18px;
  display: flex;
  flex-direction: column; }
  .auth h3 {
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    font-style: 700;
    color: white;
    text-align: right;
    padding-right: 100px; }
  .auth p {
    line-height: 10px;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    text-align: right;
    padding-right: 100px; }
  .auth a {
    width: 100%;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    text-align: right; }

.logo {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 25px;
  position: relative;
  z-index: 1; }
  .logo a:hover {
    margin-bottom: 25px; }

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 55px;
  text-align: center;
  font-style: 700;
  text-transform: uppercase;
  color: #565655; }

.subtext {
  width: 400px;
  margin: 0 auto; }
  .subtext h2 {
    margin-bottom: 20px; }

.subtext h1 {
  font-size: 22px; }

.subtext p {
  margin-top: 12px; }

h2 {
  font-family: 'Sarina', cursive;
  font-size: 36px;
  text-align: center;
  color: #565655; }

h3 {
  font-family: 'Radley', serif;
  font-size: 18px;
  text-align: left;
  color: #565655; }

p {
  font-family: 'Radley', serif;
  font-size: 15px;
  text-align: center;
  color: #565655; }

p .small {
  font-size: 9.2px; }

nav {
  margin-top: 110px;
  width: 100%;
  height: 65px;
  background-color: #556655;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  nav a {
    align-items: center;
    font-family: 'Radley', serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 39px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: #fbb03b; }
  nav a:hover {
    background-color: none;
    margin-bottom: 16px;
    margin-bottom: 16px; }

.content-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white; }
  .content-bg h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #565655; }

.homepageImage img {
  width: 600px;
  margin: 0 auto;
  padding: 35px;
  padding-bottom: 35px; }

.source {
  display: block;
  height: 50px;
  color: #565655; }
  .source a {
    text-align: left;
    text-decoration: none;
    color: gray; }

/* On screens that are399x or less */
@media screen and (max-width: 510px) {
  .content-bg {
    min-height: 667px; }
  .homepageImage img {
    margin: 0 auto;
    width: 200px;
    padding: 10px;
    padding-bottom: 55px; }
  .subtext {
    width: 250px; } }

/* On screens that are 700px or less */
@media screen and (max-width: 745px) {
  .homepageImage img {
    display: none; }
  .subtext {
    width: 250px; } }

/* On screens that are 700px or less */
/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  nav {
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;
    height: 325px;
    background-color: white;
    flex-direction: column;
    justify-content: space-around; }
    nav .logo {
      width: 180px;
      padding-top: 55px;
      margin: 0 auto; }
    nav a {
      margin-bottom: 5px;
      line-height: 20px;
      font-size: 1.25rem; }
    nav a:hover {
      color: #565655; }
  h1 {
    padding-top: 0px; }
  .content-bg {
    z-index: -1;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white; }
  .auth {
    background-color: #565656;
    height: 125px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .auth h3 {
      padding-right: 0px;
      font-family: 'Oswald', sans-serif;
      font-size: 25px;
      font-style: 700;
      color: white;
      text-align: center; }
    .auth p {
      padding-right: 0px;
      text-align: center;
      line-height: 30px;
      color: white;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); }
    .auth a {
      padding-right: 0px;
      margin: 0 auto;
      text-decoration: none;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); } }

.homepageImage img {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 55px; }
