<h1>welcome</h1>
<p style="font-style: italic;font-size: 18px;">You must be signed up or signed in to access breweries.</p>
<div class="subtext">
    <h4>ACCESS TO Exclusive INFO on your favorite breweries.</h4>

    <h2>Cheers!</h2>

</div>
<div class="homepageImage">
    <img src="./images/beer-3570298_1920.jpg">
</div>

<!--FORM STYLE-->
<!-- <div class="formWrapper">
    <form>
        <div class="formContainer">
            <p>Sign Up</p>
            <p style="font-size: 18px; padding: 10px;"> It's easy! Please fill in this form to create an account.</p>
            <div class="formItem">
                <label for="email">
                    <h1><b>Email</b></h1>
                </label>
                <input class="email" type="email" placeholder="Enter Email" name="email" required></input>
            </div>
            <div class="formItem">
                <label for="password">
                    <h1><b>Password</b></h1>
                </label>
                <input class="password" type="password" placeholder="Enter a Password" name="password" required></input>
            </div>
            <div class="buttonformItem">
                <button id="signUp" type="#" class="formButton">Sign Up</button>
                <button type="#" class="formButton">Cancel</button>
            </div>
        </div>
    </form>
</div> -->