#sectionContainer {
    width: 100%;
}

.sectionRow {
    padding: 30px;
    width: 100%;
    margin: 0 auto;
    background-color: #014c68;
    .sectionCard {
        width: 100%;
        border: 1px solid lightblue;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        border-radius: 10px;
        padding: 50px;
        margin-bottom: 20px;
        // height: 200px;
        border:1 solid black;
        flex-direction: column;
        overflow: hidden;
        background-color: #fff;

        h3 { //front text
            text-transform: uppercase;
            color: #0491a2;
        }

        h4 { //inside text
            text-transform: uppercase;
            color: grayscale($color: #000000);
            font-size: 15px;
        }

        .stylizedNumber {
            // color: #014c68;
            color: #0491a2;
            font-size: 50px;
            font-family: 'Titillium Web', sans-serif
        }
        .textContainer {
            height: 90px;
            .stylizedText {
                color:#0491a2;
                font-family: 'Sue Ellen Francisco', cursive;
                font-size: 38px;
            }
            h4 { //inside text
                text-transform: uppercase;
                color: grayscale($color: #000000);
                font-size: 15px;
            }
        }
        
    }
}