* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%vh;
}

body {
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2 {
    font-family: 'Sue Ellen Francisco', cursive;
    color:rgb(255, 207, 48);
    padding-top: 20px;
}

h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    // background-color: #0491a2;
    height: 75px;
    display: flex;
    border-radius: 0px;
    padding-bottom: 100px;
    .logoContainer {
        width: 100%;
        color:rgb(255, 207, 48);
        margin-left: 20px;
        // background-color: green;
        // line-height: 75px;
    }   
        h1 {
            letter-spacing: 1.5px;
    }
        p {
            font-size: 16px;


    }

        .searchbarContainer {
            width: 500px;
            display:flex;
            a {
                color: hsl(186, 100%, 21%);;
                text-align: center;
                flex-direction: column;
                justify-content: space-around;
            }
            .zipCitySearch {
                // background-color: #fff;
                width: 500px;
                height: 75px;
                align-items: center;
            .zipcodeCityInput {
                margin-top: 15px;
                width: 270px;
                height: 35px;
                border: none;
                // border-radius: 10px;
            }
            #button {
                background-color:rgb(255, 207, 48);
                height:35px; 
                width: 95px;
                margin-left:20px;
                border: none;
            }
            }
        }
}

.signin, .signup {
    color: rgb(255, 225, 0);
        text-transform: uppercase;
        text-decoration: none;
        padding: 50px;
}

#linkContainer {
    width: 100%;
    line-height:100px;
}

.header  {
    width: 100%;
    margin: 0 auto;
    color: black;
    h2 {
        padding: 10px;
        font-family: 'Sue Ellen Francisco', cursive;
        font-size: 55px;
        // text-transform: uppercase;
        // color: white;
        color:#014c68;
    }
    p {
        font-size: 18px;
        // color:hsl(186, 100%, 21%);
        font-style: italic;
color: #014c68;
    }
    h3 {
        font-size: 18px;
        // color: hsl(312, 70%, 17%);
color: #014c68;

    }
}