
        <!-- header information -->	
        <div style="width: 300px;">	
            <span>	
                <h2>Kim's</h2>	
                <h1 style="margin-top: -10px">Journal</h1>	
            </span>	
        </div>	


        <!--journal entries -->	
        <div class="journalWrapper">	
            <div class="journalItem">	
                <div class="journal-entry">	
                    <a href="liquidroots.html"><img class="journalPic" src="./images/liquid-roots.png"></a></div>	
                <div class="journal-entry">	
                    <p>Liquid Roots Brewing Project</p>	
                    <h3>Weiz Guy - ABV 4.5% - Hefeweizen</h3>	
                    <p class="descItal">Delicious, bought a growler to take home!</p>	
                </div>	
                <div class="journal-entry">	
                    <h1 class="attributes">ROBUST</h1>	
                    <h1 class="attributes">Hoppy</h1>	
                    <h1 class="attributes">Full-Bodied</h1>	
                </div>	
            </div>	
            <div class="customize-journal"><a href="">	
                    <h1>DELETE</h1>	
                </a><a href="">	
                    <h1>EDIT ENTRY</h1>	
            </div>