.breweryWrapper {
    width: 80%;
    margin: 0 auto;
    hr {
        width: 95%;
        border-top: 1 solid gray;
    }
}

.breweryItem {
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    // min-width: 100%;
    margin: 0 auto;
    // background-color: pink;
}

.breweryItem img {
    width: 305px;
    margin-bottom: 20px;
}


.entry {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    // line-height: .45rem;
    a {
        font-family: 'Radley', serif;
        line-height: 39px;
        text-align: left;
        text-decoration: none;    }
}

.entry h3 {
    font-size: 28px;
}
.entry p {
    text-align: left;
    font-size: 15px;
    margin-top: 12px;
}


.breweryEntry {
    width: 50%;
    margin: 0 auto;
    // padding: 15px;
    // line-height: .45rem;
    a {
        font-family: 'Radley', serif;
        line-height: 39px;
        text-align: left;
        text-decoration: none;    }
}

.breweryEntry h3 {
    font-size: 28px;
}
.breweryEntry p {
    text-align: left;
    font-size: 15px;
    margin-top: 12px;
}

.breweryItem .stylePic {
    width: 400px;
}


hr {
    width: 95%;
    border-top: 1 solid gray;
}

.entry .hours {
    width: 200px;
}

.entry .hours li {
    text-align: left;
    font-size: 15px;
    line-height: 7px;
    width: 200px;
}

#source {
    font-size: 21px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////MEDIA QUERIES////////////////////////////////////////////////////////////////




      @media screen and (max-width: 525px) {
        .content-bg {
            display: flex;
            flex-direction: column;
            z-index: -1;
            height: 100%;
            margin: 0 auto;
            background-color: white;
            // opacity: 80%;
            h1 {
                padding-top: 66px;
                font-size: 42px;
            }
            h4 {
                font-family: 'Oswald', sans-serif;
                font-size: 15px;
                text-align: center;
                text-transform: uppercase;
                color: #565655;
            }
        }

        .breweryItem {
            // padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            margin: 0 auto;
            // background-color: pink;
            img {
                width: 300px;
            }
        }

        .breweryEntry {
            padding-top: 10px;
        // line-height: .45rem;
            a { 
            font-family: 'Radley', serif;
            line-height: 39px;
            text-align: left;
            text-decoration: none;    }
        }   

        .breweryEntry h3 {
            font-size: 28px;
        }
        
        .breweryEntry p {
        text-align: left;
        font-size: 15px;
        margin-top: 12px;
        }

        #source {
            font-size: 18px;
        }
      }


      @media screen and (max-width: 900px) {
        #content {
            display: flex;
            flex-direction: column;
            z-index: -1;
            width: 80%;
            height: 100%;
            margin: 0 auto;
            background-color: white;
            // opacity: 80%;
            h1 {
                padding-top: 66px;
            }
            h4 {
                font-family: 'Oswald', sans-serif;
                font-size: 22px;
                text-align: center;
                text-transform: uppercase;
                color: #565655;
            }
        }

        .breweryItem {
            padding: 5px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            width: 80%;
            margin: 0 auto;
            // background-color: pink;
        }
        

    
    .breweryEntry {
            // padding-top: 10px;
            padding-bottom: 10px;            a { 
            font-family: 'Radley', serif;
            line-height: 39px;
            text-align: left;
            text-decoration: none;    }
        }   

        .breweryEntry h3 {
            font-size: 28px;
        }
        
        .breweryEntry p {
        text-align: left;
        font-size: 15px;
        margin-top: 12px;
        }

        .source {
            font-size: 13px;
        }

    }

    .halfImageLogo {
        padding-top: 10px;
        // min-width: 50%;
        margin: 0 auto;
        // justify-content: space-around;
    }