input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.formWrapper {
    width: 80%;
    min-height: 800px;
    // background-color: black;
    margin-top: 36px;
    margin: 0 auto;
    // font-size: 25px;
    h1, h2, h3, h4, h5, h6, a {
        font-size: 30px;
        text-align: center;
        padding-bottom: 10px;
    }
    

.formContainer {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    min-height: 200px;
    border:3px solid gold;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    p {
        font-size: 15px;
    }
    h4 {
        font-size: 30px;
        // padding-right: 60px;
        line-height: -100px;
        margin-bottom: 5px;
        text-align: left;
        }
}

    .formItemContainer {
        width: 95%;
        // background-color: pink;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: left;
}



.formItem {
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px;
    h4 {
        text-align: left;
    }
}

.formWrapper .label {
    width: 800px;
    margin: 0 auto;

}

input {
    width: 100%;
    margin: 0 auto;
    height: 30px;
    // padding-left: 20px;
    // border-radius: var(--border-radius);
    border: .5px solid gray;
    outline: none;
    background:#eeeeee;
    transition: background 0.2s, border-color .02s;
    // align-content: right;
}

.label {
    margin: 0 auto;
    justify-content: center;
}
input:focus {
    border-color: gold;
    background: white;
}
}

button {
    width: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
}   

#breweryFormBtn {
    height: 55px;
}

#breweryLogoFile input {
    outline: none;
}

#submitBtn {
    background-color:rgb(251, 176, 59);
    padding: 10px;
}