* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%vh; }

body {
  background: #36D1DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

h1,
h2 {
  font-family: 'Sue Ellen Francisco', cursive;
  color: #ffcf30;
  padding-top: 20px; }

h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Kumbh Sans', sans-serif; }

.navbar {
  height: 75px;
  display: flex;
  border-radius: 0px;
  padding-bottom: 100px; }
  .navbar .logoContainer {
    width: 100%;
    color: #ffcf30;
    margin-left: 20px; }
  .navbar h1 {
    letter-spacing: 1.5px; }
  .navbar p {
    font-size: 16px; }
  .navbar .searchbarContainer {
    width: 500px;
    display: flex; }
    .navbar .searchbarContainer a {
      color: #00606b;
      text-align: center;
      flex-direction: column;
      justify-content: space-around; }
    .navbar .searchbarContainer .zipCitySearch {
      width: 500px;
      height: 75px;
      align-items: center; }
      .navbar .searchbarContainer .zipCitySearch .zipcodeCityInput {
        margin-top: 15px;
        width: 270px;
        height: 35px;
        border: none; }
      .navbar .searchbarContainer .zipCitySearch #button {
        background-color: #ffcf30;
        height: 35px;
        width: 95px;
        margin-left: 20px;
        border: none; }

.signin, .signup {
  color: #ffe100;
  text-transform: uppercase;
  text-decoration: none;
  padding: 50px; }

#linkContainer {
  width: 100%;
  line-height: 100px; }

.header {
  width: 100%;
  margin: 0 auto;
  color: black; }
  .header h2 {
    padding: 10px;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 55px;
    color: #014c68; }
  .header p {
    font-size: 18px;
    font-style: italic;
    color: #014c68; }
  .header h3 {
    font-size: 18px;
    color: #014c68; }

#contentContainer {
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center; }

.contentRow {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .contentRow .contentCard, .contentRow .contentCard-2, .contentRow .contentCard-3, .contentRow .contentCard-4, .contentRow .contentCard-5, .contentRow .contentCard-6, .contentRow .contentCard-7, .contentRow .contentCard-8, .contentRow .contentCard-9 {
    width: 30%;
    height: 30%;
    border: 1px solid lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1 solid black;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff; }
    .contentRow .contentCard h3, .contentRow .contentCard-2 h3, .contentRow .contentCard-3 h3, .contentRow .contentCard-4 h3, .contentRow .contentCard-5 h3, .contentRow .contentCard-6 h3, .contentRow .contentCard-7 h3, .contentRow .contentCard-8 h3, .contentRow .contentCard-9 h3 {
      text-transform: uppercase;
      color: #0491a2; }
    .contentRow .contentCard h4, .contentRow .contentCard-2 h4, .contentRow .contentCard-3 h4, .contentRow .contentCard-4 h4, .contentRow .contentCard-5 h4, .contentRow .contentCard-6 h4, .contentRow .contentCard-7 h4, .contentRow .contentCard-8 h4, .contentRow .contentCard-9 h4 {
      text-transform: uppercase;
      color: black;
      font-size: 15px; }
    .contentRow .contentCard .stylizedNumber, .contentRow .contentCard-2 .stylizedNumber, .contentRow .contentCard-3 .stylizedNumber, .contentRow .contentCard-4 .stylizedNumber, .contentRow .contentCard-5 .stylizedNumber, .contentRow .contentCard-6 .stylizedNumber, .contentRow .contentCard-7 .stylizedNumber, .contentRow .contentCard-8 .stylizedNumber, .contentRow .contentCard-9 .stylizedNumber {
      color: #0491a2;
      font-size: 50px;
      font-family: 'Titillium Web', sans-serif; }
    .contentRow .contentCard .textContainer, .contentRow .contentCard-2 .textContainer, .contentRow .contentCard-3 .textContainer, .contentRow .contentCard-4 .textContainer, .contentRow .contentCard-5 .textContainer, .contentRow .contentCard-6 .textContainer, .contentRow .contentCard-7 .textContainer, .contentRow .contentCard-8 .textContainer, .contentRow .contentCard-9 .textContainer {
      height: 90px; }
      .contentRow .contentCard .textContainer .stylizedText, .contentRow .contentCard-2 .textContainer .stylizedText, .contentRow .contentCard-3 .textContainer .stylizedText, .contentRow .contentCard-4 .textContainer .stylizedText, .contentRow .contentCard-5 .textContainer .stylizedText, .contentRow .contentCard-6 .textContainer .stylizedText, .contentRow .contentCard-7 .textContainer .stylizedText, .contentRow .contentCard-8 .textContainer .stylizedText, .contentRow .contentCard-9 .textContainer .stylizedText {
        color: #0491a2;
        font-family: 'Sue Ellen Francisco', cursive;
        font-size: 38px; }
        .contentRow .contentCard .textContainer .stylizedText .stylizedText, .contentRow .contentCard-2 .textContainer .stylizedText .stylizedText, .contentRow .contentCard-3 .textContainer .stylizedText .stylizedText, .contentRow .contentCard-4 .textContainer .stylizedText .stylizedText, .contentRow .contentCard-5 .textContainer .stylizedText .stylizedText, .contentRow .contentCard-6 .textContainer .stylizedText .stylizedText, .contentRow .contentCard-7 .textContainer .stylizedText .stylizedText, .contentRow .contentCard-8 .textContainer .stylizedText .stylizedText, .contentRow .contentCard-9 .textContainer .stylizedText .stylizedText {
          color: #0491a2;
          font-family: 'Sue Ellen Francisco', cursive; }

.header {
  color: blue;
  text-align: center; }

#sectionContainer {
  width: 100%;
  background-color: #003a91;
  padding: 5px; }

.sectionRow {
  padding: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .sectionRow .sectionCard-1, .sectionRow .sectionCard-2, .sectionRow .sectionCard-3, .sectionRow .sectionCard-4, .sectionRow .sectionCard-5, .sectionRow .sectionCard-6, .sectionRow .sectionCard-7, .sectionRow .sectionCard-8, .sectionRow .sectionCard-9, .sectionRow .sectionCard-10, .sectionRow .sectionCard-11, .sectionRow .sectionCard-12 {
    width: 15%;
    border: 1px solid lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff; }
    .sectionRow .sectionCard-1 .stylizedNumber, .sectionRow .sectionCard-2 .stylizedNumber, .sectionRow .sectionCard-3 .stylizedNumber, .sectionRow .sectionCard-4 .stylizedNumber, .sectionRow .sectionCard-5 .stylizedNumber, .sectionRow .sectionCard-6 .stylizedNumber, .sectionRow .sectionCard-7 .stylizedNumber, .sectionRow .sectionCard-8 .stylizedNumber, .sectionRow .sectionCard-9 .stylizedNumber, .sectionRow .sectionCard-10 .stylizedNumber, .sectionRow .sectionCard-11 .stylizedNumber, .sectionRow .sectionCard-12 .stylizedNumber {
      color: #003a91;
      font-size: 50px;
      font-family: 'Titillium Web', sans-serif; }

#forecastContainer {
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  background-color: #0491a2; }
  #forecastContainer h2 {
    padding: 40px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center; }

.forecastRow {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .forecastRow .forecastCard, .forecastRow .forecastCard2, .forecastRow .forecastCard3 {
    width: 30%;
    border: 1px solid lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1 solid black;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff; }
    .forecastRow .forecastCard h3, .forecastRow .forecastCard2 h3, .forecastRow .forecastCard3 h3 {
      text-transform: uppercase;
      color: #0491a2; }
    .forecastRow .forecastCard h4, .forecastRow .forecastCard2 h4, .forecastRow .forecastCard3 h4 {
      text-transform: uppercase;
      color: black;
      font-size: 15px; }
    .forecastRow .forecastCard .stylizedNumber, .forecastRow .forecastCard2 .stylizedNumber, .forecastRow .forecastCard3 .stylizedNumber {
      color: #0491a2;
      font-size: 50px;
      font-family: 'Titillium Web', sans-serif; }
    .forecastRow .forecastCard .textContainer, .forecastRow .forecastCard2 .textContainer, .forecastRow .forecastCard3 .textContainer {
      height: 90px; }
      .forecastRow .forecastCard .textContainer .stylizedText, .forecastRow .forecastCard2 .textContainer .stylizedText, .forecastRow .forecastCard3 .textContainer .stylizedText {
        color: #0491a2;
        font-family: 'Sue Ellen Francisco', cursive;
        font-size: 38px; }
        .forecastRow .forecastCard .textContainer .stylizedText .stylizedText, .forecastRow .forecastCard2 .textContainer .stylizedText .stylizedText, .forecastRow .forecastCard3 .textContainer .stylizedText .stylizedText {
          color: #0491a2;
          font-family: 'Sue Ellen Francisco', cursive; }
