<div style="width: 300px;">
    <span>
        <h1 style="text-align:left;margin-left:35px;">DRINK</h1>
        <h2 style="text-align: right;margin-top:0;margin-right:35px;">in style</h2>
    </span>
</div>


<!--styles to loop through -->
<div class="glassItem">

    <div class="entry">
      <img class="glassPic" src="./images/beer-taster-glass.png">
            <h3>Sampler Glass</h3>
            <p>The tasting glass, also called a sampler glass, can be found in all shapes and sizes.</p>
        <div>
        </div>
    </div>
    <div class="entry">
        <img class="glassPic" src="./images/goblet.jpg">
            <h3>Goblet</h3>
            <p>This type of glassware has a wide opening that assists a beer drinker in analyzing the overall flavor profile and aromas.</p>
        <div>
        </div>
    </div>
    <div class="entry">
        <img class="glassPic" src="./images/stange-glass.jpg">
            <h3>Stange Glass</h3>
            <p>The tasting glass, also called a sampler glass, can be found in all shapes and sizes.</p>
        <div>
        </div>
    </div>

</div>
<div class="glassItem">

    <div class="entry">
        <a href="#"><img class="glassPic" src="./images/tulip-thistle-glass.png"></a>
            <h3>Tulip Glass</h3>
            <p>The bulb-like bowl of this glass allows you to generously swirl around your beer, releasing the full aromas. This is another type of beer glass that is a popular amongst beer geeks.</p>
        <div>
        </div>
    </div>
    <div class="entry">
        <img class="glassPic" src="./images/snifter-glass.jpg">
            <h3>Snifter Glass</h3>
            <p>This type of beer glass is typically used for stronger beers, such as Double or Imperial IPAs and Belgian IPAs, and is a favorite amongst beer enthusiasts.</p>
        <div>
        </div>
    </div>
    <div class="entry">
        <img class="glassPic" src="./images/weizen-glass.jpg">
            <h3>Weizen Glass</h3>
            <p>Starting with a strong, narrow base, the glass has a distinctive curve to it as it goes up. This type of beer glass is much taller than a pint glass.</p>
        <div>
        </div>
    </div>

</div>
<div class="source"><a href="https://learn.kegerator.com/beer-glasses/" target="blank">Source:
        https://learn.kegerator.com/beer-glasses/</a></div>
</div>