<div class="formWrapper">
    <div class="formContainer">
        <h1>Add your Brewery to On Tap Brew Finder</h1>
        <p>Please fill in the form to submit your brewery for consideration. We look forward to learning more about you
            and your delicious brews.</p>

        <div class="formItemContainer">
            <div class="formItem">
                <div class="label">
                    <h4><label for="breweryName">Brewery Name</h4>
                    <input name="breweryName" id="breweryName" type="text" placeholder="Enter Brewery Name"></label>
                </div>
            </div>
            <div class="formItem">
                <div class="label">
                    <h4><label for="breweryStreet">Street Address</h4>
                    <input name="breweryStreet" id="breweryStreet" type="text" placeholder="Enter Street"></label>
                </div>
            </div>
            <div class="formItem">
                <div class="label">
                    <h4><label for="cityStateZip">City, State, Zipcode</h4>
                    <input name="cityStateZip" id="cityStateZip" type="text" placeholder="City, St XXXXX"></label>
                </div>
            </div>
            <div class="formItem">
                <div class="label">
                    <h4><label for="breweryPhone">Phone Number</h4>
                    <input name="breweryPhone" id="breweryPhone" type="text" placeholder="XXX-XXX-XXXX"></label>
                </div>
            </div>
            <div class="formItem">
                <div class="label">
                    <label for="breweryUrl">
                        <h4>Website</h4>
                        <input name="breweryUrl" id="breweryUrl" type="url" placeholder="https://yourwebsite.com">
                    </label>
                </div>
            </div>
            <div class="formItem">
                <div class="label">
                    <label for="logo">
                        <h4>Your Logo</h4>
                        <input name="logo" id="logo" type="url" placeholder="Enter a link to your logo here">
                    </label>
                </div>
            </div>
            <div class="formItem">
                <div class="label">
                    <label for="breweryImage">
                        <h4>Brewery Image</h4>
                        <input name="breweryImage" id="breweryImage" type="url"
                            placeholder="Enter a link to an image of your brewery here">
                    </label>
                </div>
                </div>
                <div class="formItem">
                    <div class="label">
                        <label for="beerName">
                            <h4>Featured Beer</h4>
                            <input name="beerName" id="beerName" type="text" placeholder="Enter a featured beer.">
                        </label>
                    </div>
                </div>
                <div class="formItem">
                    <div class="label">
                        <label for="beerStyle">
                            <h4>Beer Style</h4>
                            <input name="beerStyle" id="beerStyle" type="text" placeholder="Enter featured beer style.">
                        </label>
                    </div>
                </div>
                <div class="formItem">
                    <div class="label">
                        <label for="beerDesc">
                            <h4>Beer Description</h4>
                            <input name="beerDesc" id="beerDesc" type="text" placeholder="Enter featured beer short description.">
                        </label>
                    </div>
                </div>
                <div class="formItem">
                    <div class="label">
                        <label for="abv">
                            <h4>ABV %</h4>
                            <input name="abv" id="abv" type="text" placeholder="Enter featured beer abv.">
                        </label>
                    </div>
                    <div class="formItem">
                        <div class="label">
                            <label for="facebook">
                                <h4>Facebook Profile</h4>
                                <input name="facebook" id="facebook" type="url" placeholder="Enter your facebook url">
                            </label>
                        </div>
                </div>
                <div class="formItem">
                    <div class="label">
                        <label for="instgram">
                            <h4>Instagram Profile</h4>
                            <input name="instgram" id="instagram" type="url" placeholder="Enter your instagram url">
                        </label>
                    </div>
            </div>


                <div class="formItem">
                    <div class="label">
                        <button onclick="goPrev()" class="swal2-confirm swal2-styled"
                            style="display: inline-block; background-color: rgb(107, 106, 105);">CANCEL</button>
                        <button onclick="newBrewery()" type="button" submitBreweryBtn"
                            class="swal2-confirm swal2-styled"
                            style="display: inline-block; background-color: rgb(251, 176, 59)"
                            href="profile.html">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>