.breweryWrapper {
    width: 100%;
}

.breweryItem {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    margin: 0 auto;
    // background-color: pink;
}

.breweryItem img {
    width: 405px;
    margin-bottom: 20px;
}


.entry {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    // line-height: .45rem;
    a {
        font-family: 'Radley', serif;
        line-height: 39px;
        text-align: left;
        text-decoration: none;    }
}

.entry h3 {
    font-size: 28px;
}
.entry p {
    text-align: left;
    font-size: 15px;
    margin-top: 12px;
}

.breweryItem .stylePic {
    width: 400px;
}


hr {
    width: 95%;
    border-top: 1 solid gray;
}

.entry .hours li {
    text-align: left;
    font-size: 15px;
    line-height: 7px;
}

#source {
    font-size: 21px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////MEDIA QUERIES////////////////////////////////////////////////////////////////




      @media screen and (max-width: 525px) {
        .content-bg {
            display: flex;
            flex-direction: column;
            z-index: -1;
            height: 100%;
            margin: 0 auto;
            background-color: white;
            // opacity: 80%;
            h1 {
                padding-top: 66px;
                font-size: 42px;
            }
            h4 {
                font-family: 'Oswald', sans-serif;
                font-size: 15px;
                text-align: center;
                text-transform: uppercase;
                color: #565655;
            }
        }

        .breweryItem {
            // padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            margin: 0 auto;
            // background-color: pink;
            img {
                width: 300px;
            }
        }

        .entry {
            padding-top: 10px;
        // line-height: .45rem;
            a { 
            font-family: 'Radley', serif;
            line-height: 39px;
            text-align: left;
            text-decoration: none;    }
        }   

        .entry h3 {
            font-size: 28px;
        }
        
        .entry p {
        text-align: left;
        font-size: 15px;
        margin-top: 12px;
        }

        #source {
            font-size: 18px;
        }
      }


      @media screen and (max-width: 900px) {
        .content-bg {
            display: flex;
            flex-direction: column;
            z-index: -1;
            width: 80%;
            height: 100%;
            margin: 0 auto;
            background-color: white;
            // opacity: 80%;
            h1 {
                padding-top: 66px;
            }
            h4 {
                font-family: 'Oswald', sans-serif;
                font-size: 22px;
                text-align: center;
                text-transform: uppercase;
                color: #565655;
            }
        }

        .breweryItem {
            padding: 5px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            width: 100%;
            margin: 0 auto;
            // background-color: pink;
        }
        

    
    .entry {
            // padding-top: 10px;
            padding-bottom: 10px;            a { 
            font-family: 'Radley', serif;
            line-height: 39px;
            text-align: left;
            text-decoration: none;    }
        }   

        .entry h3 {
            font-size: 28px;
        }
        
        .entry p {
        text-align: left;
        font-size: 15px;
        margin-top: 12px;
        }

        .source {
            font-size: 13px;
        }

    }