.headerContent-bg {
    width: 100%;
    // min-height: 200px;
    margin: 0 auto;
    background-color: white;
    margin-top: 0px;
}

.header h3 {
    // margin-top: 0px;
    font-size: 30px;
    text-align: center;
    color: #565655;
}

.header h1 {
    padding-top: 0;
    opacity: 60%;
}

.profileContent-bg {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header img { //profile Logo
    width: 500px;
    // background-color: yellow;
    margin-top: 45px;
    margin: 0 auto;
    align-content: space-around;
}

li, a {
    text-align: center;
    list-style: none;
    margin-top: 15px;
    font-family: 'Radley', serif;
    color: #565655;
    margin-bottom: 10px;
}

.columnLayout {
    padding: 70px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    // align-content: center;
    // justify-content: center;
    // align-content: center;
    justify-items: center;
    // background-color: yellow;
}

.column {
    width: 100%;
    margin: 0 auto;
    display: flex;   
    flex-direction: column; 
    align-content: center;
    // min-height: 200px;
    // background-color: pink;
    margin-left: 10px; 
}

.column h1 {
    font-size: 40px;
    text-align: center;
    opacity: 60%;
}

.column h3 {
    font-size: 22px;
    // padding: 0 0 25px;
}

.column p {
    font-family: 'Radley', serif;
    font-size: 15px;
    // margin-top: 10px;
    text-align: left;
    color: #565655;
}

.beerItem {
    padding-top: 20px;
    padding-bottom: 20px;
}

.beerItem img {
    width: 380px;
}

.side-by-side li {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 30px;
}


.myButton {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    // box-shadow: 4px 4px 0px 0px #fff6af;
	background-color:#ffec64;
	border-radius:6px;
	// border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#565656;
    font-family: 'Oswald', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:11px 50px;
    text-decoration:none;
    text-align: center;
	// text-shadow:0px 1px 0px #ffee66;
}

.myButton:hover {
	// background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#565656;
    color: #ffab23;
}
.myButton:active {
	position:relative;
	top:2px;
}




///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@media screen and (max-width: 994px) {
    
    .header h3 {
        // margin-top: 0px;
        font-size: 30px;
        text-align: center;
        color: #565655;
    }
    
    .header h1 {
        padding-top: 0;
        opacity: 60%;
    }
    
    .header img { //profile Logo
        width: 480px;
        // background-color: yellow;
        // margin-top: 45px;
        align-content: space-around;
    }
    
    .columnLayout {
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    
    .column {
        display: flex;   
        flex-direction: column; 
        align-content: center;
    }

    .beerItem img {
        width: 480px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
}


@media screen and (max-width: 675px) {
    
    .header h3 {
        // margin-top: 0px;
        // font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        color: #565655;
    }
    
    .header h1 {
        padding-top: 0;
        opacity: 60%;
        font-size: 37px;
    }

    .header h4 {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .header img { //profile Logo
        margin: 0 auto;
        width: 310px;
    }


    .beerItem img {
        width: 280px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
}


@media screen and (max-width: 400px) {

    .beerItem img {
        width: 250px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header h1 {
        padding-top: 0;
        opacity: 60%;
        font-size: 25px;
    }

    .header img {
        width: 270px;
    }
}